@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@font-face {
  font-family: 'Gilroy';
  src: url('../src/fonts/Gilroy-Bold.woff') format('woff'),
}
@font-face {
  font-family: 'GilroyThin';
  src: url('../src/fonts/Gilroy-Thin.woff') format('woff'),
}
@font-face {
  font-family: 'GilroySemi';
  src: url('../src/fonts/Gilroy-SemiBold.woff') format('woff'),
}
@font-face {
  font-family: 'GilroyRegular';
  src: url('../src/fonts/Gilroy-Regular.woff') format('woff'),
}
@font-face {
  font-family: 'GilroyMedium';
  src: url('../src/fonts/Gilroy-Medium.woff') format('woff'),
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1{
  background: linear-gradient(180deg, #A1A1A1 0%, #FFF 51.54%, #A1A1A1 94.74%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-family: Gilroy;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: 100px; /* 100% */
}
.p{
color: rgba(255, 255, 255, 0.60);
text-align: right;
leading-trim: both;
text-edge: cap;
font-family: 'Space Mono', monospace;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}
.fill{
background: linear-gradient(241deg, #878787 15.17%, #545454 88.46%);

}
.fillnet{
  background: linear-gradient(241deg, #3E3E3E 15.17%, #252525 88.46%);
}
.idfill{
  background:linear-gradient(263deg, #E9E9E9 5.9%, #BFBFBF 93.59%);
}
#search::placeholder{
color: rgba(255, 255, 255, 0.60);
font-family: 'Space Mono', monospace;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12.028px; 
}

.sfill{
  background: linear-gradient(263deg, rgba(233, 233, 233, 0.20) 5.9%, rgba(191, 191, 191, 0.20) 93.59%);
}
.sfill .ant-slider-mark-text {
color: rgba(255, 255, 255, 0.60);
text-align: right;
leading-trim: both;
text-edge: cap;
font-family: GilroyMedium;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
text-transform: uppercase;
}

/* Перемещаем метки наверх */
.sfill .ant-slider-mark {
  top: -20px; /* или любое другое значение, которое подходит вашему дизайну */
  bottom: auto; /* убираем стандартное позиционирование снизу */
}

/* Переопределяем стили для меток слайдера, чтобы они были лучше видны наверху */
.sfill .ant-slider-mark-text {
  transform: translateX(-50%) translateY(-100%); /* центрируем метки горизонтально и перемещаем их наверх */
  white-space: nowrap; /* убедитесь, что текст не переносится на новую строку */
}

.fillport{
  background:linear-gradient(241deg, #3E3E3E 15.17%, #252525 88.46%);
}
.fillTrans{
  background:linear-gradient(241deg, #E9E9E9 15.17%, #BEBEBE 88.46%);
}