@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@font-face {
  font-family: 'Gilroy';
  src: url('../src/fonts/Gilroy-Bold.woff') format('woff'),
}
@font-face {
  font-family: 'GilroyThin';
  src: url('../src/fonts/Gilroy-Thin.woff') format('woff'),
}
@font-face {
  font-family: 'GilroySemi';
  src: url('../src/fonts/Gilroy-SemiBold.woff') format('woff'),
}
@font-face {
  font-family: 'GilroyRegular';
  src: url('../src/fonts/Gilroy-Regular.woff') format('woff'),
}
@font-face {
  font-family: 'GilroyMedium';
  src: url('../src/fonts/Gilroy-Medium.woff') format('woff'),
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:black;
}

.with-scrollbar-styles {
  overflow-y: scroll; /* Включение вертикальной полосы прокрутки */
  overflow-x: hidden; /* Отключение горизонтальной полосы прокрутки */
}

/* Стилизация полосы прокрутки для WebKit (Chrome, Safari) и Firefox */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Стилизация полосы прокрутки для Firefox */
scrollbar-width: thin;
scrollbar-color: #a0a0a0 transparent;


.windows ::-webkit-scrollbar {
  width: 6px;
}

.windows ::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 6px;
}

.windows ::-webkit-scrollbar-track {
  background-color: transparent;
}

.windows {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 transparent;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1{
  background: linear-gradient(180deg, #A1A1A1 0%, #FFF 51.54%, #A1A1A1 94.74%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
font-family: Gilroy;
font-size: 100px;
font-style: normal;
font-weight: 700;
line-height: 100px; /* 100% */
}
.p{
color: rgba(255, 255, 255, 0.60);
text-align: right;
leading-trim: both;
text-edge: cap;
font-family: 'Space Mono', monospace;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
}
.fill{
background: linear-gradient(241deg, #878787 15.17%, #545454 88.46%);

}
.fillnet{
  background: linear-gradient(241deg, #3E3E3E 15.17%, #252525 88.46%);
}
.idfill{
  background:linear-gradient(263deg, #E9E9E9 5.9%, #BFBFBF 93.59%);
}
#search::placeholder{
color: rgba(255, 255, 255, 0.60);
font-family: 'Space Mono', monospace;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 12.028px; 
}


/* .sfill .ant-slider-mark-text {
color: rgba(255, 255, 255, 0.60);
text-align: right;
leading-trim: both;
text-edge: cap;
font-family: GilroyMedium;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; 133.333% */
/* text-transform: uppercase;
} */

/* Перемещаем метки наверх */
/* .sfill .ant-slider-mark {
  top: -20px; 
  bottom: auto; 
} */

/* Переопределяем стили для меток слайдера, чтобы они были лучше видны наверху */
/* .sfill .ant-slider-mark-text {
  transform: translateX(-50%) translateY(-100%); /* центрируем метки горизонтально и перемещаем их наверх */


.fillport{
  background:linear-gradient(241deg, #3E3E3E 15.17%, #252525 88.46%);
}
.fillTrans{
  background:linear-gradient(241deg, #E9E9E9 15.17%, #BEBEBE 88.46%);
}
.fillgraph{
  background:linear-gradient(241deg, #3E3E3E 15.17%, #252525 88.46%);
}

@property --block-color {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(255, 255, 255, 0);
}

.block{
  height:7.351px;
  background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0) 66.23%);
}

/* 
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.block {
  animation: fadeOut 2s linear forwards;
} */




.block0{
  width:83px;
}
.block1{
  width:83px;
}
.block2{
  width:85px;
}
.block3{
  width:87.5px;
}
.block4{
  width:96px;
}
.block5{
  width:105px;
}
.block6{
  width:115px;
}
.block7{
  width:122px;
}
.block8{
  width:132px;
}
.block9{
  width:140px;
}
.block10{
  width:151px;
}
.block11{
  width:163px;
}
.block12{
  width:176px;
}
.block13{
  width:203px;
}
.block14{
  width:218px;
}
.block15{
  width:237px;
}
.block16{
  width:258px;
}
.block17{
  width:283px;
}
.block18{
  width:308px;
}
.block19{
  width:338px;
}
.block20{
  width:373px;
}
.block21{
  width:418px;
}
.block22{
  width:476px;
}
.block23{
  width:545px;
}
.block24{
  width:373px;
}

.blocks-animate .h1 span {
  opacity: 1;
  transition: opacity ease-out 0.5s;
}

.blocks-animate .h1 span.visible {
  opacity: 0;
  transition-delay: 0.5s;
}


.blocks-animate .block:not(.block-center) {
  -webkit-transition: -webkit-transform ease-out 0.38s, opacity ease-out 0.38s;
  -moz-transition: -moz-transform ease-out 0.38s, opacity ease-out 0.38s;
  transition: transform ease-out 0.38s, opacity ease-out 0.38s;
  -webkit-transform: translateX(-373px);
  -moz-transform: translateX(-373px);
  transform: translateX(-373px);
  opacity: 0;
}

.blocks-animate .block-center {
  -webkit-transition: -webkit-transform ease-out 0.38s, opacity ease-out 0.38s;
  -moz-transition: -moz-transform ease-out 0.38s, opacity ease-out 0.38s;
  transition: transform ease-out 0.38s, opacity ease-out 0.38s;
  -webkit-transform: translateX(calc((100vw - 890px) / 2)) scaleX(0.025) scaleY(4);
  -moz-transform: translateX(calc((100vw - 890px) / 2)) scaleX(0.025) scaleY(4);
  transform: translateX(calc((100vw - 890px) / 2)) scaleX(0.025) scaleY(4);
  opacity: 1;
  -webkit-animation: block-center-bg ease-out 0.38s both;
  animation: block-center-bg ease-out 0.38s both;
  background:white;
}


@keyframes block-center-bg {
  0% {
    --block-color: rgba(255, 255, 255, 0);
  }
  100% {
    --block-color: rgba(255, 255, 255, 1);
  }
}


/* Добавьте следующие стили в ваш файл CSS или в ваш компонент с использованием Styled Components */

/* Стили для меток */
.ant-slider-mark-text {
  position: absolute;
  top: -30px; 
  transform: translateX(-50%);
color: rgba(255, 255, 255, 0.60);
text-align: right;
leading-trim: both;
text-edge: cap;
font-family: GilroyMedium;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
text-transform: uppercase;
}


/* Стили для непрошедших меток (без border) */
.ant-slider-mark-text:not(.ant-slider-mark-text-active) {
  border: none; /* Убирает границу у непрошедших меток */
  color: #999999; /* Регулируйте цвет текста непрошедших меток */
}
.ant-slider-dot.ant-slider-dot-active {
  height:6px;
  width:6px;
  border:0; /* Регулируйте стиль границы у прошедших точек */
  background-color: rgba(0, 0, 0, 0.50); /* Регулируйте цвет фона у прошедших точек */
}

/* Стили для непрошедших точек (без border) */
.ant-slider-dot:not(.ant-slider-dot-active) {
  background-color: rgba(255, 255, 255, 0.40);
    height:6px;
  width:6px;
  border:0; /* Регулируйте цвет фона у непрошедших точек */
}

.ant-slider-mark-text.ant-slider-mark-text-active {
color: rgba(255, 255, 255, 0.60);
}
.ant-slider-rail {
  border-radius: 30px !important;
}
.ant-slider{
  width:250px;
  height:10px;
  background:rgba(255, 255, 255, 0.20);;
  
}
.ant-slider-track {
  border-radius: 30px !important;
}

.ant-slider-step{
width:230px !important;
left:5px !important;
}

.sfill{
  margin-top:20px !important;
  margin-bottom:0px !important;
}
.ant-slider-mark{
  width:230px !important;
  top:5px !important;
  left:4px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.rotate-image {
  animation: rotate 2s linear infinite;
}

.success-shadow {
  background: linear-gradient(194deg, rgba(233, 233, 233, 0.00) 64.6%, rgba(197, 255, 188, 0.78) 108.41%);
}

.error-shadow {
background: linear-gradient(194deg, rgba(233, 233, 233, 0.00) 64.6%, rgba(255, 135, 135, 0.78) 108.41%);
}

.fade-in {
  opacity: 0;
  transition: opacity ease-in-out 1s;
}

.fade-in.active {
  opacity: 1;
}

.animated-element {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in-right {
  opacity: 1;
  transform: translateX(0);
}
